{% extends "layout.html" %}
{% from "macros/forms.html.j2" import render_form %}
{% from "macros/display.html.j2" import render_read_display %}
{% from "macros/nav.html.j2" import render_breadcrumb, render_instruction %}
{% from "_macros.html" import render_jquery_steps_header, render_form_styles, render_form_scripts, render_cropper_header %}

{% block styles %}
{{ render_form_styles() }}
{% endblock %}

{% block header %}
{{ render_form_scripts() }}
{{ render_jquery_steps_header() }}
{{ render_cropper_header() }}
{% endblock %}

{% block content %}

{% block breadcrumbs %}
{{ render_breadcrumb(view.get_breadcrumbs(), title) }}
{% endblock %}

{% block instruction %}
{{ render_instruction(instruction) }}
{% endblock %}

{% block display %}
{{ render_read_display(display, object) }}
{% endblock %}

{% block form %}
{{ render_form(form) }}
{% endblock %}

{% endblock %}
