{% extends "layout.html" %}
{% from "macros/nav.html.j2" import render_breadcrumb %}
{% from "_macros.html" import render_pagination %}
{% block content %}

{{ render_breadcrumb(view.get_breadcrumbs(), title) }}

{% set create_url = view.handler.get_create_url(object=object) %}
{% if create_url %}
<div class="my-4">
    <a class="btn btn-outline-secondary my-1" href="{{ create_url }}" role="button"><i class="fa fa-plus"></i> {{ _('Create %(model_display_name)s', model_display_name=view.model.get_display_name()) }}</a>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-striped">
        <thead>
            {% for prop in display.get_ordered_props() %}
                <th>{{ display.get_prop_label(prop) }}</th>
            {% endfor %}
            <th></th>
        </thead>
        <tbody>
                {% for object in objects %}
                <tr>
                    {% for prop in display.get_ordered_props() %}
                        {% set show_link = False %}
                        {% set action = "" %}
                        {% if loop.first %}
                            {% set action = view.handler.get_default_list_action(object) %}
                            {% set show_link = action != None %}
                        {% endif %}
                        <td>
                            {% if show_link %}<a href="{{ action["url"] }}">{% endif -%}
                            {{ display.get_prop_display_value(prop, object) }}
                            {%- if show_link %}</a>{% endif %}
                        </td>
                    {% endfor %}

                    <td>
                        {% for action in view.handler.get_additional_list_actions(object) %}
                            <a href="{{ action["url"] }}">{{ action["title"] }}</a>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<div class="my-4">{{ render_pagination(pagination) }}</div>

{% endblock %}