{% extends "layout.html" %}
{% from "macros/nav.html.j2" import render_breadcrumb %}
{% from "macros/display.html.j2" import render_prop_display_value %}
{% from "_macros.html" import render_pagination %}
{% block content %}

{{ render_breadcrumb(view.get_breadcrumbs(), title) }}

{% set create_url = view.handler.get_create_url(object=object) %}
{% if create_url %}
<div class="my-4">
    <a class="btn btn-outline-secondary my-1" href="{{ create_url }}" role="button"><i class="fa fa-plus"></i> {{ _('Create %(model_display_name)s', model_display_name=view.model.get_display_name()) }}</a>
</div>
{% endif %}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-striped">
        <thead>
            {% for prop in display.get_ordered_props() %}
                <th>{{ display.get_prop_label(prop) }}</th>
            {% endfor %}
        </thead>
        <tbody>
                {% for object in objects %}
                    {% set actions = view.handler.get_all_list_actions(object) %}
                    <tr>
                        {% for prop in display.get_ordered_props() %}
                            <td>
                                {% if loop.first and actions %}
                                <button class="btn btn-link dropdown-toggle p-0 text-wrap text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ render_prop_display_value(display, prop, object) }}</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    {% for action in actions %}
                                    <a class="dropdown-item" href="{{ action["url"] }}">{{ action["title"] }}</a>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ render_prop_display_value(display, prop, object) }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</div>

<div class="my-4">{{ render_pagination(pagination) }}</div>

{% endblock %}