{% extends "layout.html" %}
{% from "macros/display.html.j2" import render_read_display %}
{% from "macros/nav.html.j2" import render_breadcrumb %}
{% block content %}

{{ render_breadcrumb(view.get_breadcrumbs(), object) }}

{% set actions = view.handler.get_read_actions(object) %}
{% if actions %}
<div class="my-3">
    {% for action in view.handler.get_read_actions(object) %}
        <a class="btn btn-outline-secondary" href="{{ action["url"] }}">{{ action["title"] }}</a>
    {% endfor %}
</div>
{% endif %}

<div class="w-normal">
    {{ render_read_display(display, object) }}
</div>

{% endblock %}