{% extends "layout.html" %}
{% from "macros/forms.html.j2" import render_read_form %}
{% from "macros/nav.html.j2" import render_breadcrumb %}
{% block content %}

{{ render_breadcrumb(view.get_breadcrumbs(), object) }}

{% set update_url = view.handler.get_update_url(object=object) %}
{% set delete_url = view.handler.get_delete_url(object=object) %}
{% if update_url or delete_url %}
<div class="my-3">
    {% if update_url %}
    <a class="btn btn-outline-secondary" href="{{ update_url }}">{{ _('Edit') }}</a>
    {% endif %}
    {% if delete_url %}
    <a class="btn btn-outline-secondary" href="{{ delete_url }}">{{ _('Delete') }}&hellip;</a>
    {% endif %}
</div>
{% endif %}

<div class="w-normal">
    {{ render_read_form(form) }}
</div>

{% endblock %}