{% extends "layout.html" %}
{% from "macros/display.html.j2" import render_read_display %}
{% from "macros/nav.html.j2" import render_breadcrumb %}
{% from "_macros.html" import render_audit_container %}
{% block content %}

{% block breadcrumbs %}
{{ render_breadcrumb(view.get_breadcrumbs(), object) }}
{% endblock %}

{% set actions = view.handler.get_read_actions(object) %}
{% if actions %}
<div class="dropdown my-4">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Actions') }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% for action in actions %}
            <a class="dropdown-item" href="{{ action["url"] }}">{{ action["title"] }}</a>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="w-normal">
    {{ render_read_display(display, object) }}
</div>

{% endblock %}