{% extends "layout.html" %}
{%- block title -%}
{{ config["SITE_NAME"] }}
{%- endblock -%}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing-page.css')}}" />
{% endblock %}
{% block body_content__attribs %} style="padding:0;"{% endblock %}
{% block content_container_attribs %}{% endblock %}
{% block content %}
{% if content %}
{{ content }}
{% else %}

<header class="text-center">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1>{{ config["SITE_NAME"] }}</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <div class="mx-auto" style="max-width: 320px;">
              {% if current_user.is_authenticated %}
              <div>
                <a class="btn btn-primary btn-block" href="{{ url_for('manage') }}" role="button">{{ _('Manage') }}</a>
              </div>
              {% elif not config["ADMIN_UNIT_CREATE_REQUIRES_ADMIN"] %}
              <div>
                <a class="btn btn-primary btn-block" href="{{ url_for('security.register') }}" role="button"><i class="fa fa-fw fa-user-plus"></i> {{ _fsdomain('Register') }}</a>
              </div>
              <div class="mt-2">
                <a class="btn btn-secondary btn-block" href="{{ url_for('security.login') }}" role="button"><i class="fa fa-fw fa-key"></i> {{ _fsdomain('Login') }}</a>
              </div>
              {% endif %}
              {% if config["DOCS_URL"] %}
                <div class="mt-2">
                  <a class="btn btn-outline-info btn-block" href="{{ config["DOCS_URL"] }}" target="_blank" rel="noopener noreferrer" role="button"><i class="fa fa-fw fa-info-circle"></i> {{ _('Docs') }}</a>
                </div>
                <div class="mt-2">
                  <a class="btn btn-outline-info btn-block" href="{{ config["DOCS_URL"] }}/features" target="_blank" rel="noopener noreferrer" role="button"><i class="fa fa-fw fa-info-circle"></i> {{ _('Features') }}</a>
                </div>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

{% endif %}
{% endblock %}