{% extends "layout.html" %}
{% from "_macros.html" import render_radio_buttons, render_event_organizer_places_header, render_datepicker_js, render_field_with_errors, render_field %}
{% block header %}
<script>
$( function() {

  function update_place_container(value) {
    switch (value) {
      case '1':
        $('#existing_place_container').show();
        $('#new_place_container').hide();
        break;
      case '2':
        $('#existing_place_container').hide();
        $('#new_place_container').show();
        break;
    }
  }

  $('input[type=radio][name=event_place_choice]').on('change', function() {
    update_place_container($(this).val());
  });

  update_place_container($('input[type=radio][name=event_place_choice]:checked').val());
});
</script>
{{ render_event_organizer_places_header() }}
{% endblock %}
{% block content %}

<h1>{{ _('Create event') }}</h1>

<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Event') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name) }}
      {{ render_field_with_errors(form.description) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Event date') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.start) }}
      {{ render_field_with_errors(form.end) }}
      {{ render_field_with_errors(form.recurrence_rule, ri="rrule") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Organizer') }} *
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.organizer_id, class="autocomplete w-100") }}
    </div>
  </div>

  {% if form.contact.min_entries > 0 %}
  <div class="card mb-4">
    <div class="card-header">
      {{ _('Contact') }}
    </div>
    <div class="card-body">
      {% for contact_form in form.contact %}
          {{ contact_form.hidden_tag() }}
          {{ render_field_with_errors(contact_form.form.name) }}
          {{ render_field_with_errors(contact_form.form.email) }}
          {{ render_field_with_errors(contact_form.form.phone) }}
      {% endfor %}
    </div>
  </div>
  {% endif %}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Place') }} *
    </div>
    <div class="card-body">

      <div>
        {{ render_radio_buttons(form.event_place_choice) }}
      </div>

      <div class="my-4" id="existing_place_container">
        {{ render_field_with_errors(form.event_place_id, class="autocomplete w-100") }}
      </div>

      <div class="my-4" id="new_place_container">
        {{ form.new_event_place.hidden_tag() }}
        {{ render_field_with_errors(form.new_event_place.form.name) }}
        {{ form.new_event_place.form.location.hidden_tag() }}
        {{ render_field_with_errors(form.new_event_place.form.location.street) }}
        {{ render_field_with_errors(form.new_event_place.form.location.postalCode) }}
        {{ render_field_with_errors(form.new_event_place.form.location.city) }}
        {{ render_field_with_errors(form.new_event_place.form.public, style="width: fit-content; flex: initial;") }}
      </div>

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Target group') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.target_group_origin, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.kid_friendly, style="width: fit-content; flex: initial;") }}
      {{ render_field_with_errors(form.age_from) }}
      {{ render_field_with_errors(form.age_to) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.photo_file) }}
      {{ render_field_with_errors(form.category_id, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.external_link) }}
      {{ render_field_with_errors(form.ticket_link) }}
      {{ render_field_with_errors(form.tags) }}
      {{ render_field_with_errors(form.attendance_mode, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.accessible_for_free, style="width: fit-content; flex: initial;") }}
    </div>
  </div>

  {% if form.rating.choices|length > 1 %}
  <div class="card mb-4">
    <div class="card-header">
      {{ _('Rating') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.rating) }}
    </div>
  </div>
  {% endif %}

  {{ render_field(form.submit) }}

</form>

{% endblock %}
