{% extends "layout.html" %}
{% from "_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<h1>{{ _('Create event') }}</h1>
<form action="{{ url_for('event_create') }}" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Event') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name) }}
      {{ render_field_with_errors(form.description) }}
      {{ render_field_with_errors(form.start) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Host') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.host_id, class="autocomplete w-100") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Place') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.place_id, class="autocomplete w-100") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.photo_file) }}
      {{ render_field_with_errors(form.category_id, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.external_link) }}
      {{ render_field_with_errors(form.ticket_link) }}
    </div>
  </div>

  {{ render_field(form.submit) }}

</form>

{% endblock %}
