{% extends "layout.html" %}
{% from "_macros.html" import render_event_organizer, render_event_status_pill, render_event_date, render_ooa, render_place, render_events_sub_menu %}
{% block title %}
{{ _('Events') }}
{% endblock %}
{% block content %}

    <h1>{{ _('Events') }}</h1>

    {{ render_events_sub_menu() }}

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Host') }}</th>
                    <th>{{ _('Location') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                    <tr>
                        <td>{{ render_event_date(event) }}</td>
                        <td>
                            <a href="{{ url_for('event', event_id=event.id) }}">{{ event.name }}</a>
                            {{ render_event_status_pill(event) }}
                            {% if event.verified %}
                            <i class="fa fa-check-circle text-success" data-toggle="tooltip" title="{{ _('Verified') }}"></i>
                            {% endif %}
                        </td>
                        <td>{{ render_event_organizer(event.organizer) }}</td>
                        <td>{{ render_place(event.event_place) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


{% endblock %}