from enum import IntEnum
from flask_security import AsaList
from geoalchemy2 import Geometry
from project import db
from sqlalchemy import Index, Boolean, DateTime, Column, Integer, LargeBinary, Numeric, String, Unicode, UniqueConstraint, ForeignKey, UnicodeText, CheckConstraint, cast
from sqlalchemy.dialects import postgresql
from sqlalchemy.dialects.postgresql import JSONB
from sqlalchemy.ext.mutable import MutableList
from sqlalchemy.orm import backref, deferred, relationship, remote
from sqlalchemy_utils import ColorType
import datetime
from project.dbtypes import IntegerEnum
from sqlalchemy.ext.declarative import declared_attr
from project.actor import current_actor


class {{ model.mixin_name }}({{ model.mixins|join(', ') }}):
{% for column in columns %}
    @declared_attr
    def {{ column.name }}(cls):
        return {{ column.rendered }}
{% endfor %}
{% for relationship in model.relationships %}
    @declared_attr
    def {{ relationship.name }}(cls):
        return relationship(
            "{{ relationship.target_model }}",
{%- for key, value in relationship.kwargs.items() %}
            {{ key }}={{ value }},
{%- endfor %}
        )
{% endfor %}
