{% extends "layout.html" %}
{% from "_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<h1>{{ _('Delete OAuth2 client') }} &quot;{{ oauth2_client.client_name }}&quot;</h1>

<form action="" method="POST">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('OAuth2 client') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name) }}
    </div>
  </div>

  {{ render_field(form.submit) }}

</form>

{% endblock %}
