{% extends "layout.html" %}
{% from "_macros.html" import render_kv_begin, render_kv_end, render_kv_prop %}
{% block title %}
{{ oauth2_client.client_name }}
{% endblock %}
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('profile') }}">{{ _('Profile') }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('oauth2_clients') }}">{{ _('OAuth2 clients') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ oauth2_client.client_name }}</li>
    </ol>
</nav>

<div class="w-normal">
    {{ render_kv_begin() }}
    {{ render_kv_prop(oauth2_client.client_id, 'Client ID') }}
    {{ render_kv_prop(oauth2_client.client_secret, 'Client secret') }}
    {{ render_kv_prop(oauth2_client.client_uri, 'Client URI') }}
    {{ render_kv_prop(oauth2_client.grant_types, 'Grant types') }}
    {{ render_kv_prop(oauth2_client.redirect_uris, 'Redirect URIs') }}
    {{ render_kv_prop(oauth2_client.response_types, 'Response types') }}
    {{ render_kv_prop(oauth2_client.scope, 'Scope') }}
    {{ render_kv_prop(oauth2_client.token_endpoint_auth_method, 'Token endpoint auth method') }}
    {{ render_kv_end() }}
</div>

{% endblock %}