{% extends "layout.html" %}
{% from "_macros.html" import render_event_dates_filter_form, render_pagination, render_event_status_pill, render_place, render_events_sub_menu %}
{% block title %}
{{ _('Event Dates') }}
{% endblock %}
{% block content %}

    <h1>{{ _('Event Dates') }} <button type="button" class="btn btn-outline-secondary mx-2" data-toggle="collapse" data-target="#search_form" aria-expanded="{% if form.is_submitted() %}true{% else %}false{% endif %}"><i class="fa fa-filter"></i></button></h1>

    <div class="{% if form.is_submitted() %}{% else %}collapse{% endif %}" id="search_form">
        {{ render_event_dates_filter_form(form) }}
    </div>

    {% for date in dates %}
    <div class="card mb-3" style="max-width: 768px;">
        {% if date.event.photo_id %}
            <img src="{{ url_for('image', id=date.event.photo_id) }}" class="card-img-top" style="object-fit: cover; height: 20vh;" />
        {% endif %}
        <div class="card-body" style="padding:1rem">
            <h5 class="card-title">{{ date.event.name }}{{ render_event_status_pill(date.event) }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"><i class="fa fa-calendar"></i> {{ date.start | datetimeformat('short') }}</h6>
            <p class="card-text">{{ date.event.description | truncate(100) }}</p>
            <small class="text-muted mr-2"><i class="fa fa-database"></i> {{ date.event.admin_unit.name }}</small>
            <small class="text-muted"><i class="fa fa-map-marker"></i> {{ date.event.event_place.name }}</small>
            <a href="{{ url_for('event_date', id=date.id) }}" class="stretched-link"></a>
        </div>
    </div>
    {% endfor %}

    {{ render_pagination(pagination) }}

{% endblock %}