{% extends "layout.html" %}
{% from "_macros.html" import render_rolesm render_string_prop, render_logo, render_phone_prop, render_fax_prop, render_email_prop, render_events, render_location_prop, render_link_prop, render_image %}
{% block title %}
{{ organization.name }}
{% endblock %}
{% block content %}

    <h1>{{ organization.name }}</h1>

    {% if can_update_organization %}
    <div class="my-4">
        <a class="btn btn-primary my-1" href="{{ url_for('organization_update', organization_id=organization.id) }}" role="button"><i class="fa fa-edit"></i> {{ _('Update organization') }}</a>
    </div>
    {% endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#info" role="tab" area-selected="true">{{ _('Info') }}</a>
        </li>
        {% if current_user_member or can_list_members %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#members" role="tab">{{ _('Members') }}</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#events" role="tab">{{ _('Events') }}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane pt-4 active" id="info" role="tabpanel">

            <div class="my-4">
                {{ render_string_prop(organization.legal_name) }}
                {{ render_location_prop(organization.location) }}
                {{ render_link_prop(organization.url) }}
                {{ render_email_prop(organization.email) }}
                {{ render_phone_prop(organization.phone) }}
                {{ render_fax_prop(organization.fax) }}
            </div>

            {% if organization.logo_id %}
            <div class="my-4">{{ render_logo(organization.logo_id) }}</div>
            {% endif %}

        </div>

        {% if current_user_member or can_list_members %}
        <div class="tab-pane pt-4" id="members" role="tabpanel">
            {% if current_user_member %}
            <div class="my-4">
                {{ _('You are a member of this organization.') }}
                ({% for role in current_user_member.roles %}{{ role.name }}{%if not loop.last %}, {% endif %}{% endfor %})
            </div>
            {% endif %}

            {% if can_list_members %}
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Roles') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in organization.members %}
                            <tr>
                                <td>{{ member.user.email }}</td>
                                <td>{{ render_roles(member.roles)}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <div class="tab-pane pt-4" id="events" role="tabpanel">
            {{ render_events(events) }}
        </div>
    </div>



{% endblock %}