[run]
omit =
    project/celery_init.py
    project/babel.py
    project/base_tasks.py
    project/celery_tasks.py
    project/cli/test.py
    project/templates/email/*
    project/views/flask_admin.py