[flake8]
extend-ignore = E501, E203
exclude =
    .git,
    .github,
    .pytest_cache,
    .vscode,
    __pycache__,
    doc,
    env,
    tmp
per-file-ignores =
    __init__.py: F401, E402
    migrations/*: F401, E402