alembic==1.10.3
amqp==5.1.1
aniso8601==8.1.0
anytree==2.8.0
apispec==4.0.0
apispec-webframeworks==0.5.2
appdirs==1.4.4
argh==0.26.2
arrow==0.14.7
async-timeout==4.0.2
attrs==20.3.0
Authlib==0.15.3
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
black==23.1.0
blinker==1.4
cached-property==1.5.2
cachetools==5.3.0
celery==5.2.7
certifi==2020.12.5
cffi==1.14.4
cfgv==3.2.0
chardet==3.0.4
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colour==0.1.5
coverage==5.5
coveralls==2.2.0
cryptography==3.3.2
decorator==5.1.0
distlib==0.3.1
dnspython==2.0.0
docopt==0.6.2
dominate==2.6.0
email-validator==1.1.2
exceptiongroup==1.1.1
filelock==3.0.12
flake8==3.8.4
Flask==2.2.3
flask-apispec==0.11.4
Flask-BabelEx==0.9.4
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.9
Flask-Dance==3.2.0
Flask-gzip==0.2
Flask-Login==0.6.2
Flask-Mail==0.9.1
flask-marshmallow==0.14.0
Flask-Migrate==4.0.4
Flask-Principal==0.4.0
Flask-QRcode==3.0.0
Flask-RESTful==0.3.9
Flask-Security-Too==5.1.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
GeoAlchemy2==0.13.1
googlemaps==4.4.7
greenlet==2.0.2
gunicorn==20.0.4
icalendar==4.0.7
identify==1.5.10
idna==2.10
importlib-metadata==6.3.0
iniconfig==1.1.1
isort==5.7.0
itsdangerous==2.1.2
Jinja2==3.1.2
johnnydep==1.18.0
jsonschema==3.2.0
kombu==5.2.4
Mako==1.1.3
MarkupSafe==2.1.2
marshmallow==3.10.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.24.1
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
nodeenv==1.5.0
oauthlib==3.1.0
oyaml==1.0
packaging==23.0
passlib==1.7.4
pathspec==0.11.0
pilkit==2.0
Pillow==9.0.0
pipdeptree==2.7.0
pkginfo==1.9.6
platformdirs==3.1.0
pluggy==0.13.1
pre-commit==2.9.3
prompt-toolkit==3.0.38
psycopg2-binary==2.8.6
py==1.10.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==7.3.1
pytest-celery==0.0.0
pytest-cov==4.0.0
pytest-datadir==1.4.1
pytest-mock==3.10.0
pytest-split==0.8.1
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
pytz==2022.7.1
PyYAML==5.4.1
qrcode==6.1
redis==4.5.1
regex==2020.11.13
requests==2.25.0
requests-mock==1.9.3
requests-oauthlib==1.3.0
rope==0.18.0
six==1.15.0
soupsieve==2.1
speaklater==1.3
SQLAlchemy==2.0.9
SQLAlchemy-Utils==0.41.0
structlog==23.1.0
swagger-spec-validator==2.7.3
tabulate==0.9.0
TatSu==4.4.0
toml==0.10.2
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.5.0
urllib3==1.26.5
URLObject==2.4.3
validators==0.18.2
vine==5.0.0
virtualenv==20.2.2
visitor==0.1.3
wcwidth==0.2.6
webargs==7.0.1
Werkzeug==2.2.3
wimpy==0.6
WTForms==3.0.1
WTForms-SQLAlchemy==0.2
yarg==0.1.9
zipp==3.4.0
