{% extends "layout.html" %}
{% from "_macros.html" import render_audit_container, render_event_menu, render_event_props, render_image_with_link, render_place, render_link_prop %}
{% block title %}
{{ event.name }}
{% endblock %}
{% block content %}

    {{ render_event_menu(user_rights, event) }}

    <div class="w-normal">

        {{ render_event_props(event, event.start, event.end, dates, user_rights['can_verify_event']) }}

        {% if dates|length > 0 %}
            <div class="card mt-4">
                <div class="card-header">
                    <a name="event-dates">{{ _('Event Dates') }}</a>
                </div>
                <div class="list-group list-group-flush">
                {% for date in dates %}
                    <a href="{{ url_for('event_date', id=date.id) }}" class="list-group-item">{{ date.start | datetimeformat('short') }}</a>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}