{% extends "layout.html" %}
{% from "_macros.html" import render_radio_buttons, render_phone_prop, render_email_prop, render_string_prop, render_field_with_errors, render_field, render_event_props, render_image_with_link, render_place, render_link_prop %}
{% block title %}
{{ event.name }}
{% endblock %}
{% block content %}

<h1>{{ _('Request reference for event "%(name)s"', name=event.name) }}</h1>

<p>{{ _('Ask another organization to reference your event on their calendar.') }}</p>

<form action="" method="POST">
    {{ form.hidden_tag() }}

    {{ render_field_with_errors(form.admin_unit_id) }}

    {{ render_field(form.submit) }}
</form>

{% endblock %}