{% extends "layout.html" %}
{% from "_macros.html" import render_cropper_block, render_crop_image_form_section, render_radio_buttons, render_datepicker_js, render_field_with_errors, render_field %}
{% block title %}
{{ _('Update event') }}
{% endblock %}
{% block header %}
  {{ render_cropper_block() }}
{% endblock %}
{% block content %}

<h1>{{ _('Update event') }}</h1>

<form action="{{ url_for('event_update', event_id=event.id) }}" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Event') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name) }}
      {{ render_field_with_errors(form.description) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Event date') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.start) }}
      {{ render_field_with_errors(form.end) }}
      {{ render_field_with_errors(form.recurrence_rule, ri="rrule") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Status') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.status, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.previous_start_date) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Organizer') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.organizer_id, class="autocomplete w-100") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Place') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.event_place_id, class="autocomplete w-100") }}
    </div>
  </div>

  {{ render_crop_image_form_section(form.photo) }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Access') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.accessible_for_free, style="width: fit-content; flex: initial;") }}
      {{ render_field_with_errors(form.registration_required, style="width: fit-content; flex: initial;") }}
      {{ render_field_with_errors(form.price_info) }}
      {{ render_field_with_errors(form.ticket_link) }}
      {{ render_field_with_errors(form.booked_up, style="width: fit-content; flex: initial;") }}
      {{ render_field_with_errors(form.attendance_mode, class="autocomplete w-100") }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Target group') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.target_group_origin, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.kid_friendly, style="width: fit-content; flex: initial;") }}
      {{ render_field_with_errors(form.age_from) }}
      {{ render_field_with_errors(form.age_to) }}
      {{ render_field_with_errors(form.expected_participants) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.category_ids, class="autocomplete w-100") }}
      {{ render_field_with_errors(form.tags) }}
      {{ render_field_with_errors(form.external_link) }}
    </div>
  </div>

  {% if form.rating.choices|length > 1 %}
  <div class="card mb-4">
    <div class="card-header">
      {{ _('Rating') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.rating) }}
    </div>
  </div>
  {% endif %}

  {{ render_field(form.submit) }}

</form>

{% endblock %}
