h1 {
  font-size: 1.6rem;
  margin: 1rem 0 2rem;
}

h2 {
  font-size: 1.2rem;
  margin: 2rem 0 1rem;
}

h3 {
  font-size: 1.1rem;
  margin: 2rem 0 1rem;
}

footer {
  padding: 10px;
}

figure {
  margin: 0;
}

tr.collapse.in {
  display: table-row;
}

tr.table-borderless td {
  border: 0;
  padding: 0;
}

tr.table-line-through td {
  text-decoration: line-through;
}

.text-toogle[aria-expanded="false"] .text-expanded {
  display: none;
}
.text-toogle[aria-expanded="true"] .text-collapsed {
  display: none;
}

.table td.fit,
.table th.fit {
  white-space: nowrap;
  width: 1%;
}

.ui-autocomplete,
.ui-datepicker {
  z-index: 1051 !important;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.input-group {
  align-items: start;
}

@media (max-width: 320px) {
  td,
  th {
    word-break: break-all;
  }
}

.text-highlight {
  color: #dc3545 !important;
}

.w-normal {
  max-width: 1024px;
}

.w-medium {
  max-width: 400px;
}

.dropzone-wrapper {
  border: 2px dashed #91b0b3;
  color: #92b0b3;
  position: relative;
  height: 100px;
}

.dropzone-desc {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 40%;
  top: 25px;
}

.dropzone,
.dropzone:focus {
  position: absolute;
  outline: none !important;
  width: 100%;
  height: 100px;
  cursor: pointer;
  opacity: 0;
}

.dropzone-wrapper:hover,
.dropzone-wrapper.dragover {
  background: #ecf0f5;
}

button.dropdown-toggle {
  white-space: normal;
  text-align: inherit;
}

.img-overlay-container {
  position: relative;
}

.img-overlay-copyright {
  position: absolute;
  top: 50%;
  right: 0;
  text-align: center;
}
