{% extends "layout.html" %}
{% block title %}
{{ _('Organizations') }}
{% endblock %}
{% block content %}

{% if invitations %}
<h1>{{ _('Invitations') }}</h1>
<div class="list-group">
    {% for invitation in invitations %}
        <a href="{{ url_for('admin_unit_member_invitation', id=invitation.id) }}" class="list-group-item">{{ invitation.adminunit.name }}</a>
    {% endfor %}
</div>
{% endif %}

<h1>{{ _('Organizations') }}</h1>
<div class="my-4">
    <a class="btn btn-outline-secondary my-1" href="{{ url_for('admin_unit_create') }}" role="button"><i class="fa fa-plus"></i> {{ _('Create organization') }}</a>
</div>

<div class="list-group">
{% for admin_unit in admin_units %}
    <a href="{{ url_for('manage_admin_unit', id=admin_unit.id) }}" class="list-group-item">{{ admin_unit.name }}</a>
{% endfor %}
</div>

{% endblock %}