{% extends "layout_vue.html" %}

{%- block title -%}
{{ _('Organization invitations') }}
{%- endblock -%}

{% block component_scripts %}
<script src="{{ url_for('static', filename='vue/organization-organization-invitations/list.vue.js')}}"></script>
<script src="{{ url_for('static', filename='vue/organization-organization-invitations/create.vue.js')}}"></script>
<script src="{{ url_for('static', filename='vue/organization-organization-invitations/update.vue.js')}}"></script>
{% endblock %}

{% block component_definitions %}
Vue.component("OrganizationOrganizationInvitationList", OrganizationOrganizationInvitationList);
Vue.component("OrganizationOrganizationInvitationCreate", OrganizationOrganizationInvitationCreate);
Vue.component("OrganizationOrganizationInvitationUpdate", OrganizationOrganizationInvitationUpdate);
{% endblock %}

{% block vue_routes %}
const routes = [
  {
    path: "/manage/admin_unit/:admin_unit_id/organization-invitations",
    component: OrganizationOrganizationInvitationList,
  },
  {
    path: "/manage/admin_unit/:admin_unit_id/organization-invitations/create",
    component: OrganizationOrganizationInvitationCreate,
  },
  {
    path: "/manage/admin_unit/:admin_unit_id/organization-invitations/:organization_invitation_id/update",
    component: OrganizationOrganizationInvitationUpdate,
  },
];
{% endblock %}
