{% extends "layout_manage.html" %}
{% set active_id = "reference_requests_outgoing" %}
{% from "_macros.html" import render_reference_request_review_status_pill, render_event_date, render_pagination, render_event_organizer %}
{% block title %}
{{ _('Reference requests') }}
{% endblock %}
{% block content %}

<h1 class="mb-1">{{ _('Outgoing reference requests') }}</h1>
<p class="text-muted">Hier findest du deine Empfehlungsanfragen an andere Verwaltungseinheiten. Um eine andere Verwaltungseinheit um eine Empfehlung zu bitten, wähle &quot;{{ _('Empfehlung anfragen') }}&quot; auf einer deiner Veranstaltungsseiten, die du über die <a href="{{ url_for('manage_admin_unit_events', id=admin_unit.id) }}">Suche</a> finden kannst.</p>

<ul class="list-group mt-4">
{% for request in requests %}
    <li class="list-group-item">
        {{ render_event_date(request.event) }}
        <div class="dropdown d-inline-block">
            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.event.name }}</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('event_reference_request_review_status', id=request.id) }}">{{ _('Show review status') }}</a>
            </div>
        </div>
        {{ render_reference_request_review_status_pill(request) }}
        <small>{{ request.admin_unit.name }}</small>
    </li>
{% endfor %}
</ul>

<div class="my-4">{{ render_pagination(pagination) }}</div>

{% endblock %}