{% extends "layout_vue.html" %}

{%- block title -%}
{{ _('Relations') }}
{%- endblock -%}

{% block component_scripts %}
<script src="{{ url_for('static', filename='vue/organization-relations/list.vue.js')}}"></script>
<script src="{{ url_for('static', filename='vue/organization-relations/create.vue.js')}}"></script>
<script src="{{ url_for('static', filename='vue/organization-relations/update.vue.js')}}"></script>
{% endblock %}

{% block component_definitions %}
Vue.component("OrganizationRelationList", OrganizationRelationList);
Vue.component("OrganizationRelationCreate", OrganizationRelationCreate);
Vue.component("OrganizationRelationUpdate", OrganizationRelationUpdate);
{% endblock %}

{% block vue_routes %}
const routes = [
  {
    path: "/manage/admin_unit/:admin_unit_id/relations",
    component: OrganizationRelationList,
  },
  {
    path: "/manage/admin_unit/:admin_unit_id/relations/create",
    component: OrganizationRelationCreate,
  },
  {
    path: "/manage/admin_unit/:admin_unit_id/relations/:relation_id/update",
    component: OrganizationRelationUpdate,
  },
];
{% endblock %}
