{% extends "layout.html" %}
{% set active_id = "verification_requests_outgoing" %}
{% from "_macros.html" import render_admin_unit_badges, render_logo, render_location_prop, render_text_prop, render_field_with_errors, render_field %}
{%- block title -%}
{{ _('Request verification for organization "%(name)s"', name=admin_unit.name) }}
{%- endblock -%}
{% block content %}

<h1>{{ _('Request verification for organization "%(name)s"', name=admin_unit.name) }}</h1>

<div class="w-normal">
    <p>{{ _('Ask "%(name)s" to verify your organization.', name=target_admin_unit.name) }}</p>

    <div class="card mb-3">
        <div class="card-body p-3">
            <h2 class="mt-0">
                <a href="{{ url_for('organizations', path=target_admin_unit.id) }}" class="text-body">{{
                    target_admin_unit.name }}</a>
                {{ render_admin_unit_badges(target_admin_unit) }}
            </h2>
            <div class="row">
                {% if target_admin_unit.logo_id %}
                <div class="col-12 col-sm-auto order-sm-last">{{ render_logo(target_admin_unit.logo) }}</div>
                {% endif %}

                <div class="col-12 col-sm">
                    {{ render_location_prop(target_admin_unit.location) }}
                    <p>{{ render_text_prop(target_admin_unit.description) }}</p>
                    <p>{{ render_text_prop(target_admin_unit.incoming_verification_requests_text) }}</p>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        {{ render_field(form.submit) }}
    </form>
</div>

{% endblock %}
