{% extends "layout.html" %}
{% from "_macros.html" import render_cropper_header, render_manage_form_styles, render_manage_form_scripts, render_admin_unit_form_script, render_jquery_steps_header, render_field_with_errors, render_field %}
{% import "macros/forms.html.j2" as forms %}

{%- block title -%}
{{ _('Create organization') }}
{%- endblock -%}

{% block styles %}
{{ render_manage_form_styles() }}
{% endblock %}

{% block header %}
{{ render_manage_form_scripts() }}
{{ render_jquery_steps_header() }}
{{ render_admin_unit_form_script() }}
{{ render_cropper_header() }}
{% endblock %}

{% block content %}

<h1>{{ _('Create organization') }}</h1>
<form id="main-form" action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Organization') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name, role="presentation", autocomplete="off") }}
      {{ render_field_with_errors(form.short_name) }}
      {{ render_field_with_errors(form.description) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Location') }}
    </div>
    <div class="card-body">

      {{ form.location.hidden_tag() }}
      {{ render_field_with_errors(form.location.street) }}
      {{ render_field_with_errors(form.location.postalCode) }}
      {{ render_field_with_errors(form.location.city) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
    {{ render_field_with_errors(form.url) }}
    {{ render_field_with_errors(form.email) }}
    {{ render_field_with_errors(form.phone) }}
    {{ render_field_with_errors(form.fax) }}
    </div>
  </div>

  {{ forms.render_field(form.logo) }}

  {% if embedded_relation_enabled %}
  <div class="card mb-4">
    <div class="card-header">
      {{ _('Relation to %(admin_unit_name)s', admin_unit_name=current_admin_unit.name) }}
    </div>
    <div class="card-body">
      {% if current_admin_unit.can_verify_other %}
        {{ render_field_with_errors(form.embedded_relation.verify, ri="switch") }}
      {% endif %}
      {% if current_admin_unit.incoming_reference_requests_allowed %}
        {{ render_field_with_errors(form.embedded_relation.auto_verify_event_reference_requests, ri="switch") }}
      {% endif %}
    </div>
  </div>
  {% endif %}

  {{ render_field(form.submit) }}
</form>

{% endblock %}
