{% extends "layout.html" %}
{% from "_macros.html" import render_field_with_errors, render_field %}

{% block content %}

<h1>{{ _('Delete organizer') }} &quot;{{ organizer.name }}&quot;</h1>

<form action="" method="POST">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Organizer') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name, role="presentation", autocomplete="off") }}
    </div>
  </div>

  {{ render_field(form.submit) }}

</form>

{% endblock %}
