{% extends "layout.html" %}
{% from "_macros.html" import render_datepicker_js, render_field_with_errors, render_field %}

{% block header %}
<script>
  $( function() {
    {{ render_datepicker_js('start') }}
  });
</script>
{% endblock %}
{% block content %}

<h1>{{ _('Suggest event') }}</h1>
<form action="{{ url_for('event_suggestion_create') }}" method="POST">
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.event_name) }}
  {{ render_field_with_errors(form.description) }}
  {{ render_field_with_errors(form.external_link) }}
  {{ render_field_with_errors(form.start) }}

  {{ render_field_with_errors(form.place_name) }}
  {{ render_field_with_errors(form.place_street) }}
  {{ render_field_with_errors(form.place_postalCode) }}
  {{ render_field_with_errors(form.place_city) }}

  {{ render_field_with_errors(form.host_name) }}
  {{ render_field_with_errors(form.contact_name) }}
  {{ render_field_with_errors(form.contact_email) }}

  {{ render_field(form.submit) }}
</form>

{% endblock %}
