{% extends "layout.html" %}
{% block title %}
{{ _('Event suggestions') }}
{% endblock %}
{% block content %}

    <h1>{{ _('Event suggestions') }}</h1>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ _('Date') }}</th>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Host') }}</th>
                    <th>{{ _('Location') }}</th>
                    <th>{{ _('Created at') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for suggestion in suggestions %}
                    <tr>
                        <td>{{ suggestion.dates[0].start | datetimeformat }}</td>
                        <td>
                            <a href="{{ url_for('eventsuggestion', event_suggestion_id=suggestion.id) }}">{{ suggestion.event_name }}</a>
                        </td>
                        <td>{{ suggestion.host_name }}</td>
                        <td>{{ suggestion.place_name }}</td>
                        <td>{{ suggestion.created_at | datetimeformat }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}