{% extends "generic/update.html" %}
{% from "_macros.html" import render_google_place_autocomplete_header, render_google_place_autocomplete_field, render_field_with_errors, render_field %}
{% import "macros/forms.html.j2" as forms %}

{% block header %}
{{ super() }}
{{ render_google_place_autocomplete_header() }}
{% endblock %}

{% block form %}

<form id="main-form" action="" method="POST" data-role="validation-form">
  {{ form.hidden_tag() }}

  <div class="my-5">
    {{ render_google_place_autocomplete_field() }}
  </div>

  {{ forms.render_field(form.name) }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Location') }}
    </div>
    <div class="card-body">
      {{ form.location.hidden_tag() }}
      {{ render_field_with_errors(form.location.street) }}
      {{ render_field_with_errors(form.location.postalCode) }}
      {{ render_field_with_errors(form.location.city) }}
      {{ render_field_with_errors(form.location.state) }}
      {{ render_field_with_errors(form.location.latitude) }}
      {{ render_field_with_errors(form.location.longitude) }}
    </div>
  </div>

  {{ forms.render_field(form.photo) }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
    {{ render_field_with_errors(form.url) }}
    {{ render_field_with_errors(form.description) }}
    </div>
  </div>

  {{ render_field(form.submit) }}
</form>

{% endblock %}
