{% macro render_read_display(display, object) %}
<dl class="row">
    {% for prop in display.get_ordered_props() %}
    <dt class="col-sm-3">{{ display.get_prop_label(prop) }}</dt>
    <dd class="col-sm-9">{{ display.get_prop_display_value(prop, object) }}</dd>
    {% endfor %}
</dl>
{% endmacro %}