{% from "_macros.html" import render_field_with_errors, render_field %}

{% macro render_form(form) %}
<form id="main-form" action="" method="post">
    {{ form.hidden_tag() }}

    {% for field in form.get_input_fields() %}
    {% if field.render_kw %}
    {{ render_field_with_errors(field, **field.render_kw) }}
    {% else %}
    {{ render_field_with_errors(field) }}
    {% endif %}
    {% endfor %}

    {% for field in form.get_button_fields() %}
    {{ render_field(field) }}
    {% endfor %}
</form>
{% endmacro %}