{% extends "layout.html" %}
{% from "_macros.html" import render_place, render_events, render_location_card, render_link_prop, render_image %}
{%- block title -%}
{{ place.name }}
{%- endblock -%}
{% block content %}

    <h1>{{ place.name }}</h1>

    {% if can_update_place %}
    <div class="my-4">
        <a class="btn btn-primary my-1" href="{{ url_for('place_update', place_id=place.id) }}" role="button"><i class="fa fa-edit"></i> {{ _('Update place') }}</a>
    </div>
    {% endif %}

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#info" role="tab" area-selected="true">{{ _('Info') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#events" role="tab">{{ _('Events') }}</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane pt-4 active" id="info" role="tabpanel">

            {{ render_location_card(place.location, place) }}

            <div class="my-4">
                {{ render_link_prop(place.url) }}
            </div>

            {% if place.photo_id %}
            <div class="my-4">{{ render_image(place.photo) }}</div>
            {% endif %}

            {% if place.description %}
            <div class="my-4">{{ place.description }}</div>
            {% endif %}

        </div>

        <div class="tab-pane pt-4" id="events" role="tabpanel">
            {{ render_events(place.events) }}
        </div>
    </div>

{% endblock %}