{% extends "generic/delete.html" %}

{% block instruction %}
{{ super() }}
{% if object.has_multiple_dates() %}
  <div class="alert alert-danger my-3" role="alert">
    {{ _('You are about to delete an event with multiple dates. If you want to delete a single date instead, you have to edit the event to do so.') }}
    <div class="mt-3">
      <a class="btn btn-outline-dark" href="{{ url_for('manage_admin_unit.event_update', id=event.admin_unit_id, event_id=event.id) }}">{{ _('Edit event') }}</a>
    </div>
  </div>
{% endif %}
{% endblock %}

