{% extends "layout_manage.html" %}
{% set active_id = "reviews" %}
{% from "_macros.html" import render_event_suggestion, render_image, render_radio_buttons, render_phone_prop, render_email_prop, render_string_prop, render_field_with_errors, render_field, render_event_props, render_image_with_link, render_place, render_link_prop %}
{%- block title -%}
{{ event_suggestion.name }}
{%- endblock -%}
{% block content %}

<h1>{{ _('Review event suggestion') }}</h1>

<div class="w-normal">

    {{ render_event_suggestion(event_suggestion) }}

    {% if event_suggestion.verified and event_suggestion.event_id %}
        <div class="my-4">
            <a class="btn btn-success" href="{{ url_for('event', event_id=event_suggestion.event_id) }}" role="button"><i class="fa fa-arrow-right"></i> {{ _('View event') }}</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-between my-4">
            <a class="btn btn-success m-1" href="{{ url_for('event_create_for_admin_unit_id', id=event_suggestion.admin_unit_id, event_suggestion_id=event_suggestion.id) }}" role="button"><i class="fa fa-arrow-right"></i> {{ _('Create event from suggestion') }}&hellip;</a>
            <a class="btn btn-danger m-1" href="{{ url_for('event_suggestion_reject', event_suggestion_id=event_suggestion.id) }}" role="button"><i class="fa fa-ban"></i> {{ _('Reject event suggestion') }}&hellip;</a>
        </div>
    {% endif %}
</div>

{% endblock %}