
h1 {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}

h2 {
    font-size: 1.2rem;
    margin: 2rem 0 1rem;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body-content {
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    padding: 10px;
}

.social-btn {
    /* background-color: #009688;
    color: white; */
    font-size: 1.5rem;
}

tr.collapse.in {
    display:table-row;
}

tr.table-borderless td {
    border:0;
    padding:0;
}

tr.table-line-through td {
    text-decoration: line-through;
}

.text-toogle[aria-expanded=false] .text-expanded {
    display: none;
}
.text-toogle[aria-expanded=true] .text-collapsed {
    display: none;
}

.table td.fit,
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

.ui-autocomplete, .ui-datepicker {
    z-index: 1051 !important;
}

.btn-google {
    color: white;
    background-color: #ea4335;
}

.input-group {
    align-items: start;
}

@media (max-width: 320px) {
    td, th {
        word-break: break-all;
    }
}