body {
	background-color:#eceef0;
    font-family: Verdana;
    color: #3c444b;
}

.btn-primary {
    background-color: #B09641;
    color: black;
    border-color: #B09641;
}

.btn-primary:hover {
    background-color: #B09641;
    color: black;
    border-color: #B09641;
}

.card {
    background-color: transparent;
}

.card-title, .page-link, .page-link:hover, a, a:hover {
    color: #7B2424;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #aaa;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #B09641;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #B09641;
    color: #fff;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #B09641;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}