{% extends "layout_vue.html" %}

{%- block title -%}
{{ _('Organizations') }}
{%- endblock -%}

{% block header_before_site_js %}
{{ super() }}
<script src="{{ url_for('static', filename='ext/iframeResizer.4.3.2.min.js')}}"></script>
{%- endblock -%}

{% block component_scripts %}
<script src="{{ url_for('static', filename='vue/organization/list.vue.js')}}"></script>
<script src="{{ url_for('static', filename='vue/organization/read.vue.js')}}"></script>
{% endblock %}

{% block component_definitions %}
Vue.component("OrganizationList", OrganizationList);
Vue.component("OrganizationRead", OrganizationRead);
{% endblock %}

{% block vue_routes %}
const routes = [
  {
    path: "/organizations",
    component: OrganizationList,
  },
  {
    path: "/organizations/:organization_id",
    component: OrganizationRead,
    name: "OrganizationById",
  },
];
{% endblock %}
