{% macro render_field_with_errors(field) %}
    <div class="form-group row {% if field.errors %} has-error{% endif -%}">
    {{ field.label(class="col-sm-2 col-form-label") }}
    <div class="input-group col-sm-10">
    {% if field.errors %}
    {{ field(class="form-control is-invalid", **kwargs)|safe }}
    {% else %}
    {{ field(class="form-control", **kwargs)|safe }}
    {% endif %}
        {% if field.errors %}
        <div class="invalid-feedback">
            {% for error in field.errors %}
            <div>{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}
    </div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(class="btn btn-primary", **kwargs)|safe }}</p>
{% endmacro %}

{% macro render_field_errors(field) %}
  <p>
    {% if field and field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}
