{% macro render_field_with_errors(field) %}
    {% set label_text = field.label.text + ' *' if field.flags.required else field.label.text %}
    <div class="form-group row {% if field.errors %} has-error{% endif -%}">
    {{ field.label(text=label_text, class="col-sm-2 col-form-label") }}
    <div class="input-group col-sm-10">
      {% set field_class = kwargs['class'] if 'class' in kwargs else '' %}
      {% set field_class = field_class + ' form-control' %}
      {% if field.errors %}
        {% set field_class = field_class + ' is-invalid' %}
      {% endif %}

      {{ field(class=field_class, **kwargs)|safe }}

      {% if 'ri' in kwargs %}
        {% if kwargs['ri'] == 'rrule' %}
          <script type="text/javascript">
            $( function() {
              $("textarea[name=recurrence_rule]").recurrenceinput({lang:'de', startField: "start",  ajaxURL: "{{ url_for('event_rrule') }}", firstDay: 1});
            });
          </script>
        {% endif %}
      {% endif %}

      {% if field.description %}
      <small class="form-text text-muted w-100">
        {{ field.description }}
      </small>
      {% endif %}

      {% if field.errors %}
      <div class="invalid-feedback">
          {% for error in field.errors %}
          <div>{{ error }}</div>
          {% endfor %}
      </div>
      {% endif %}
    </div>
    </div>
{% endmacro %}

{% macro render_field(field) %}
  <p>{{ field(class="btn btn-primary", **kwargs)|safe }}</p>
{% endmacro %}

{% macro render_field_errors(field) %}
  <p>
    {% if field and field.errors %}
      <ul>
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </p>
{% endmacro %}

{% macro render_event_organizer(organizer) %}
    {{ organizer.name }}
{% endmacro %}

{% macro render_ooa(ooa) %}
  {% if ooa.admin_unit %}
    {{ ooa.admin_unit.name }}
  {% endif %}
  {% if ooa.organization %}
    {{ ooa.organization.name }}
  {% endif %}
{% endmacro %}

{% macro render_ooa_with_link(ooa) %}
  {% if ooa.admin_unit %}
    <a href="{{ url_for('admin_unit', admin_unit_id=ooa.admin_unit.id) }}">{{ ooa.admin_unit.name }}</a>
  {% endif %}
  {% if ooa.organization %}
    <a href="{{ url_for('organization', organization_id=ooa.organization.id) }}">{{ ooa.organization.name }}</a>
  {% endif %}
{% endmacro %}

{% macro render_location(location) %}
{%- if location.street -%}
  {{ location.street }}, {{ location.postalCode }} {{ location.city }}
{%- elif location.postalCode or location.city -%}
  {{ location.postalCode }} {{ location.city }}
{%- endif -%}
{% endmacro %}

{% macro render_place(place) %}
{%- if place.location -%}
  {{ place.name }}, {{render_location(place.location)}}
{%- else -%}
  {{ place.name }}
{%- endif -%}
{% endmacro %}

{% macro render_events_sub_menu() %}
{% endmacro %}

{% macro render_events(events) %}
<div class="table-responsive">
  <table class="table table-sm table-bordered table-hover table-striped">
      <thead>
          <tr>
              <th>{{ _('Date') }}</th>
              <th>{{ _('Name') }}</th>
              <th>{{ _('Host') }}</th>
              <th>{{ _('Location') }}</th>
          </tr>
      </thead>
      <tbody>
          {% for event in events %}
              <tr>
                  <td>{{ render_event_date(event) }}</td>
                  <td>
                      <a href="{{ url_for('event', event_id=event.id) }}">{{ event.name }}</a>
                      {{ render_event_status_pill(event) }}
                      {% if event.verified %}
                        <i class="fa fa-check-circle text-success" data-toggle="tooltip" title="{{ _('Verified') }}"></i>
                      {% endif %}
                  </td>
                  <td>{{ render_event_organizer(event.organizer) }}</td>
                  <td>{{ render_place(event.event_place) }}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="list-group my-4">
    <a href="{{ url_for('events') }}" class="list-group-item list-group-item-action list-group-item-primary">
        {{ _('Show all events') }}
        <i class="fa fa-caret-right"></i>
    </a>
  </div>

  {% endmacro %}

{% macro render_location_card(location, place=None) %}
{% if location %}
<div class="card card-body">
  <p>
      {{ location.street }}<br />
      {{ location.postalCode }} {{ location.city }}
  </p>

  <p>
      <a href="http://www.google.com/maps?q={% if place %}{{ render_place(place) | quote_plus }}{% else %}{{ render_location(location) | quote_plus }}{% endif %}">{{ _('Show on Google Maps') }}</a>
  </p>

</div>
{% endif %}
{% endmacro %}

{% macro render_string_prop(prop, icon = None, label_key = None) %}
{% if prop %}
<div>
  {% if icon %}<i class="fa fa-fw {{ icon }}" data-toggle="tooltip" title="{{ _(label_key) }}"></i>{% endif %}
  {{ prop }}
</div>
{% endif %}
{% endmacro %}

{% macro render_bool_prop(prop, icon, label_key) %}
{% if prop %}
<div>
  <i class="fa fa-fw {{ icon }}" data-toggle="tooltip" title="{{ _(label_key) }}"></i>
  {{ _(label_key) }}
</div>
{% endif %}
{% endmacro %}

{% macro render_enum_prop(prop, icon, label_key) %}
{% if prop and prop.value > 0 %}
<div>
  <i class="fa fa-fw {{ icon }}" data-toggle="tooltip" title="{{ _(label_key) }}"></i>
  {{ prop | loc_enum }}
</div>
{% endif %}
{% endmacro %}

{% macro render_range_prop(from, to, icon, label_key) %}
{% if from or to %}
<div>
  <i class="fa fa-fw {{ icon }}" data-toggle="tooltip" title="{{ _(label_key) }}"></i>
  {{ from if from }} - {{ to if to }}
</div>
{% endif %}
{% endmacro %}

{% macro render_tag_prop(tags) %}
{% if tags %}
<div>
  <i class="fa fa-fw fa-tags" data-toggle="tooltip" title="{{ _('Tags') }}"></i>
  {{ tags }}
</div>
{% endif %}
{% endmacro %}

{% macro render_link_prop(link) %}
{% if link %}
<div>
  <i class="fa fa-fw fa-link" data-toggle="tooltip" title="{{ _('Link') }}"></i>
  <a href="{{ link }}" target="_blank">{{ link }}</a>
</div>
{% endif %}
{% endmacro %}

{% macro render_email_prop(email) %}
{% if email %}
<div>
  <i class="fa fa-fw fa-envelope" data-toggle="tooltip" title="{{ _('Email') }}"></i>
  <a href="mailto:{{ email }}">{{ email }}</a>
</div>
{% endif %}
{% endmacro %}

{% macro render_event_status_pill(event) %}
{% if event.status and event.status != 1 %}
 <span class="badge badge-pill badge-warning">{{ event.status | loc_enum }}</span>
{% endif %}
{% endmacro %}

{% macro render_event_review_status_pill(event) %}
{% if event.review_status and event.review_status != 2 %}
 <span class="badge badge-pill {% if event.review_status == 1 %}badge-info{% else %}badge-danger{% endif %}">{{ event.review_status | loc_enum }}</span>
{% endif %}
{% endmacro %}

{% macro render_phone_prop(phone) %}
{% if phone %}
<div>
  <i class="fa fa-fw fa-phone" data-toggle="tooltip" title="{{ _('Phone') }}"></i>
  <a href="tel:{{ phone }}">{{ phone }}</a>
</div>
{% endif %}
{% endmacro %}

{% macro render_fax_prop(fax) %}
{% if fax %}
<div><i class="fa fa-fw fa-fax" data-toggle="tooltip" title="{{ _('Fax') }}"></i> {{ fax }}</div>
{% endif %}
{% endmacro %}

{% macro render_location_prop(location) %}
{% if location and location.street or location.postalCode or location.city %}
<div>
  <i class="fa fa-fw fa-map-marker" data-toggle="tooltip" title="{{ _('Location') }}"></i>
  {{ render_location(location) }}
</div>
{% endif %}
{% endmacro %}

{% macro render_image(image_id) %}
{% if image_id %}
<img src="{{ url_for('image', id=image_id) }}" class="img-fluid rounded" style="max-width:100%;" />
{% endif %}
{% endmacro %}

{% macro render_logo(image_id) %}
{% if image_id %}
<img src="{{ url_for('image', id=image_id) }}" class="img-fluid rounded" style="max-width:200px;" />
{% endif %}
{% endmacro %}

{% macro render_event_review_status(event) %}
  {{ render_enum_prop(event.review_status, 'fa-certificate', 'Review status') }}
  {{ render_enum_prop(event.rejection_resaon, 'fa-search-minus', 'Rejection reason') }}
{% endmacro %}

{% macro render_event_props(event, start, end, dates = None) %}
  <div class="card mb-3">
    <div class="card-header">
      {{ _('Event') }}
    </div>

    <div class="card-body">
      <h5 class="card-title">{{ event.name }}{{ render_event_status_pill(event) }}</h5>
      {% if dates and dates|length > 1 %}
      <div>
        <i class="fa fa-fw fas fa-calendar" data-toggle="tooltip" title="{{ _('Date') }}"></i>
        {{ start | timeformat('short') }}
        {% if end %}- {{ end | timeformat('short') }}{% endif %}
        | <a href="#event-dates">{{ _('%(count)d event dates', count=dates|length) }}</a>
      </div>
      {% else %}
      <div>
        <i class="fa fa-fw fa-calendar" data-toggle="tooltip" title="{{ _('Date') }}"></i>
        {{ start | datetimeformat('short') }}
        {% if end %}- {{ end | datetimeformat('short') }}{% endif %}
      </div>
      {% endif %}
      {{ render_enum_prop(event.status, 'fa-info-circle', 'Status') }}
      {% if event.previous_start_date %}
      <div><i class="fa fa-fw fa-calendar-times" data-toggle="tooltip" title="{{ _('Previous start date') }}"></i> {{ event.previous_start_date | datetimeformat('short') }}</div>
      {% endif %}
      {% if event.verified %}
      <div><i class="fa fa-fw fa-check-circle text-success" data-toggle="tooltip" title="{{ _('Verified') }}"></i> {{ _('Verified') }}</div>
      {% else %}
      {{ render_event_review_status(event) }}
      {% endif %}

      {% if event.photo_id %}
        <div class="my-4">{{ render_image(event.photo_id) }}</div>
      {% endif %}

      <div class="my-4">{{ event.description }}</div>

      <div class="mt-4">
        {{ render_link_prop(event.external_link) }}
        {{ render_link_prop(event.ticket_link) }}
        {% if event.category_id %}
          <div><i class="fa fa-fw fa-archive" data-toggle="tooltip" title="{{ _('Category') }}"></i> {{ event.category | event_category_name }}</div>
        {% endif %}
        {{ render_tag_prop(event.tags) }}
        {{ render_bool_prop(event.kid_friendly, 'fa-child', 'Kid friendly') }}
        {{ render_bool_prop(event.accessible_for_free, 'fa-door-open', 'Accessible for free') }}
        {{ render_range_prop(event.age_from, event.age_to, 'fa-people-arrows', 'Typical Age range') }}
        {{ render_enum_prop(event.target_group_origin, 'fa-users', 'Target group origin') }}
        {{ render_enum_prop(event.attendance_mode, 'fa-mouse-pointer', 'Attendance mode') }}
      </div>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-header">
      {{ _('Place') }}
    </div>
    <div class="card-body">
      {% if event.event_place %}
        <h5 class="card-title">{{ event.event_place.name }}</h5>

        {% if event.event_place.photo_id %}
          <div class="my-4">{{ render_image(event.event_place.photo_id) }}</div>
        {% endif %}

        {% if event.event_place.description %}
        <div class="my-4">{{ event.event_place.description }}</div>
        {% endif %}

        <div class="my-4">
          {{ render_link_prop(event.event_place.url) }}
          {{ render_location_prop(event.event_place.location) }}
        </div>

        <p>
            <a href="http://www.google.com/maps?q={{ render_place(event.event_place) | quote_plus }}" class="btn btn-secondary" target="_blank">{{ _('Show directions') }}</a>
        </p>
      {% endif %}
    </div>
  </div>

  {% if event.organizer %}

  <div class="card mb-3">
    <div class="card-header">
      {{ _('Organizer') }}
    </div>
    <div class="card-body">
          {{ render_string_prop(event.organizer.name) }}
          {{ render_link_prop(event.organizer.url) }}
          {{ render_email_prop(event.organizer.email) }}
          {{ render_phone_prop(event.organizer.phone) }}
          {{ render_fax_prop(event.organizer.fax) }}
    </div>
  </div>

  {% endif %}

  <div class="card mb-3">
    <div class="card-header">
      {{ _('Admin unit') }}
    </div>
    <div class="card-body">

        <h5 class="card-title"><a href="{{ url_for('admin_unit', admin_unit_id=event.admin_unit.id) }}" class="text-dark">{{ event.admin_unit.name }}</a></h5>

        {% if event.admin_unit.logo_id %}
          <div class="my-4">{{ render_logo(event.admin_unit.logo_id) }}</div>
        {% endif %}

        <div class="my-4">
          {{ render_link_prop(event.admin_unit.url) }}
          {{ render_email_prop(event.admin_unit.email) }}
          {{ render_phone_prop(event.admin_unit.phone) }}
          {{ render_fax_prop(event.admin_unit.fax) }}
          {{ render_location_prop(event.admin_unit.location) }}
        </div>

    </div>
  </div>

{% endmacro %}

{% macro render_google_sign_in_button() %}
<a href="{{ url_for('google.login') }}" class="btn btn-google" role="button"><i class="fab fa-google mr-2"></i> {{ _('Sign in with Google') }}</a>
{% endmacro %}

{% macro render_google_place_autocomplete_header(location_only = False) %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=***REMOVED***&libraries=places"></script>
<script>
    function initialize() {
      var input = document.getElementById('location_search');
      var autocomplete = new google.maps.places.Autocomplete(input);
      google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();

            var street_number = "";
            var route = "";
            var city = "";

            for (var i = 0; i < place.address_components.length; i++) {
              var component = place.address_components[i]
              var addressType = component.types[0];
              var val = component.long_name

              if (addressType == 'street_number') {
                street_number = val;
              } else if (addressType == 'route') {
                route = val;
              } else if (addressType == 'locality') {
                city = val;
              } else if (addressType == 'administrative_area_level_1') {
                $('#location-state').val(val);
              } else if (addressType == 'postal_code') {
                $('#location-postalCode').val(val);
              }
            }

            {% if not location_only %}
              $('#name').val(place.name);

              if (place.website) {
                $('#url').val(place.website);
              }
            {% endif %}

            $('#location-street').val([route, street_number].join(' '));
            $('#location-city').val(city);
            $('#location-latitude').val(place.geometry.location.lat());
            $('#location-longitude').val(place.geometry.location.lng());

            $('#location_search').val('');
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endmacro %}

{% macro render_google_place_autocomplete_field() %}
  <div class="form-group row">
    <div class="input-group col-sm-12">
      <div class="input-group-prepend">
        <span class="input-group-text"><i class="fab fa-google"></i></span>
      </div>
      <input id="location_search" type="text" class="form-control" placeholder="{{ _('Search location on Google') }}" autocomplete="on" runat="server" />
    </div>
  </div>
{% endmacro %}

{% macro render_event_date(event) %}
  {{ event.start | datetimeformat('short') }}
  {% if event.recurrence_rule %}
  <i class="fas fa-history"></i>
  {% endif %}
{% endmacro %}

{% macro render_tab(id, title, link, active_id=None) %}
  <li class="nav-item">
    <a class="nav-link{% if active_id == id %} active{% endif %}" href="{{ link }}">{{ title }}</a>
  </li>
{% endmacro %}

{% macro render_manage_menu(admin_unit, active_id=None) %}
<ul class="nav nav-pills">
  {{ render_tab('reviews', _('Reviews'), url_for('manage_admin_unit_event_reviews', id=admin_unit.id), active_id) }}
  {{ render_tab('events', _('Events'), url_for('manage_admin_unit_events', id=admin_unit.id), active_id) }}
  {{ render_tab('organizers', _('Organizers'), url_for('manage_admin_unit_organizers', id=admin_unit.id), active_id) }}
  {{ render_tab('places', _('Places'), url_for('manage_admin_unit_event_places', id=admin_unit.id), active_id) }}
  {{ render_tab('widgets', _('Widgets'), url_for('manage_admin_unit_widgets', id=admin_unit.id), active_id) }}
</ul>
{% endmacro %}

{% macro render_event_organizer_places_header() %}
<script>
$( function() {

  $("#organizer_id").change(function(){
      var organizer_id = $(this).val();

      $.ajax({
          url: '/api/organizer/' + organizer_id + '/event_places',
          type: 'get',
          dataType: 'json',
          success:function(response){

              var len = response.length;

              $("#event_place_id").empty();
              $("#event_place_id").append("<option value='"+0+"'></option>");
              for( var i = 0; i<len; i++){
                  var id = response[i]['id'];
                  var name = response[i]['name'];

                  $("#event_place_id").append("<option value='"+id+"'>"+name+"</option>");

              }
          }
      });
  });
});
</script>
{% endmacro %}

{% macro render_pagination(pagination) %}
{% if 'prev_url' in pagination or 'next_url' in pagination %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if pagination['prev_url'] %}
          <li class="page-item"> <a class="page-link" href="{{ pagination['prev_url'] }}">{{ _('Previous') }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">{{ _('Previous') }}</a></li>
        {% endif %}
        {% if pagination['next_url'] %}
          <li class="page-item"> <a class="page-link" href="{{ pagination['next_url'] }}">{{ _('Next') }}</a></li>
        {% else %}
          <li class="page-item"><a class="page-link btn disabled" href="#">{{ _('Next') }}</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endmacro %}