{% extends "layout.html" %}
{% block title %}
{{ _('Admin Units') }}
{% endblock %}
{% block content %}

<h1>{{ _('Admin Units') }}</h1>

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>{{ _('Name') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for admin_unit in admin_units %}
                <tr>
                    <td><a href="{{ url_for('admin_unit', admin_unit_id=admin_unit.id) }}">{{ admin_unit.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}