{% extends "layout.html" %}
{% from "_macros.html" import render_event_props, render_image, render_ooa_with_link, render_place, render_link_prop %}
{% block title %}
{{ event.name }}
{% endblock %}
{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('events') }}">{{ _('Events') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
        </ol>
    </nav>

    {% if user_can_verify_event %}
    <div class="my-4">
        <form action="{{ url_for('event', event_id=event.id) }}" method="POST">
            {% if event.verified %}
            <input name="action" type="hidden" value="unverify">
            <p><input class="btn btn-danger" name="submit" type="submit" value="{{ _('Mark event as unverified') }}"></p>
            {% else %}
            <input name="action" type="hidden" value="verify">
            <p><input class="btn btn-success" name="submit" type="submit" value="{{ _('Mark event as verified') }}"></p>
            {% endif %}
          </form>
    </div>
    {% endif %}

    <div style="max-width: 768px;">

        {{ render_event_props(event, event.dates[0]) }}

        {% if event.dates|length > 0 %}
            <div class="card mt-4">
                <div class="card-header">
                    {{ _('Event Dates') }}
                </div>
                <div class="list-group list-group-flush">
                {% for date in event.dates %}
                    <a href="{{ url_for('event_date', id=date.id) }}" class="list-group-item list-group-item-action">{{ date.start | datetimeformat('short') }}</a>
                {% endfor %}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}