{% extends "layout.html" %}
{% from "_macros.html" import render_image, render_ooa_with_link, render_place, render_link_prop %}
{% block title %}
{{ event.name }}
{% endblock %}
{% block content %}

    <h1>{{ event.name }}</h1>

    {% if user_can_verify_event %}
    <div class="my-4">
        <form action="{{ url_for('event', event_id=event.id) }}" method="POST">
            {% if event.verified %}
            <input name="action" type="hidden" value="unverify">
            <p><input class="btn btn-danger" name="submit" type="submit" value="{{ _('Mark event as unverified') }}"></p>
            {% else %}
            <input name="action" type="hidden" value="verify">
            <p><input class="btn btn-success" name="submit" type="submit" value="{{ _('Mark event as verified') }}"></p>
            {% endif %}
          </form>
    </div>
    {% endif %}

    <div class="my-4">
        <div><i class="fa fa-fw fa-calendar" data-toggle="tooltip" title="{{ _('Date') }}"></i> {{ event.dates[0].start | datetimeformat }}</div>
        <div><i class="fa fa-fw fa-map-marker" data-toggle="tooltip" title="{{ _('Location') }}"></i> <a href="{{ url_for('place', place_id=event.place.id) }}">{{ render_place(event.place) }}</a></div>
        {% if event.verified %}
        <div><i class="fa fa-fw fa-check-circle text-success" data-toggle="tooltip" title="{{ _('Verified') }}"></i> {{ _('Verified') }}</div>
        {% endif %}
    </div>

    {% if event.photo_id %}
        <div class="my-4">{{ render_image(event.photo_id) }}</div>
    {% endif %}

    {% if event.category_id %}
        <div class="my-4">
            <div><i class="fa fa-fw fa-archive" data-toggle="tooltip" title="{{ _('Category') }}"></i> {{ _('Event_' + event.category.name) }}</div>
        </div>
    {% endif %}

    <div class="my-4">{{ event.description }}</div>

    {% if event.external_link or event.ticket_link %}
    <div class="my-4">
        {{ render_link_prop(event.external_link) }}
        {{ render_link_prop(event.ticket_link) }}
    </div>
    {% endif %}

<div class="my-4">
    <div><i class="fa fa-fw fa-users" data-toggle="tooltip" title="{{ _('Host') }}"></i> {{ render_ooa_with_link(event.host) }}</div>
</div>

{% endblock %}