{% extends "layout.html" %}
{% block title %}
Prototyp
{% endblock %}
{% block content %}

    <h1>{{ _('Hi there!') }}</h1>

    <div class="list-group my-4">
        <a href="{{ url_for('events') }}" class="list-group-item list-group-item-action">
            {{ _('Events') }}
            <i class="fa fa-caret-right"></i>
        </a>
    </div>

    {% if admin_unit_members %}
    <h2>{{ _('Your Admin Units') }}</h2>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Roles') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in admin_unit_members %}
                    <tr>
                        <td><a href="{{ url_for('admin_unit', admin_unit_id=member.adminunit.id) }}">{{ member.adminunit.name }}</a></td>
                        <td>{% for role in member.roles %}{{ role.name }}{%if not loop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    {% if organization_members %}
    <h2>{{ _('Your Organizations') }}</h2>
    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ _('Name') }}</th>
                    <th>{{ _('Roles') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in organization_members %}
                    <tr>
                        <td><a href="{{ url_for('organization', organization_id=member.organization.id) }}">{{ member.organization.name }}</a></td>
                        <td>{% for role in member.roles %}{{ role.name }}{%if not loop.last %}, {% endif %}{% endfor %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

{% endblock %}