{% extends "layout.html" %}
{% block title %}
Impressum &amp; Kontakt
{% endblock %}
{% block content %}

    <div class="p-3">
        <p class="h3">Impressum &amp; Kontakt Entwickler</p>
        <p>
            Daniel Grams<br />
            Schreiberstrasse 2<br />
            38640 Goslar<br />
            <a href="mailto:moin@danielgrams.de">moin@danielgrams.de</a><br />
            <a href="https://www.danielgrams.de">https://www.danielgrams.de</a><br />
            Link zum Datenschutz: <a href="{{ url_for('datenschutz') }}">Datenschutz</a>
        </p>
    </div>

{% endblock %}