{% extends "layout.html" %}
{% from "_macros.html" import render_events %}
{% block title %}
{{ organization.name }}
{% endblock %}
{% block content %}

    <h1>{{ organization.name }}</h1>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        {% if current_user_member or can_list_members %}
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#members" role="tab" area-selected="true">{{ _('Members') }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#events" role="tab">{{ _('Events') }}</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#events" role="tab" area-selected="true">{{ _('Events') }}</a>
            </li>
        {% endif %}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        {% if current_user_member or can_list_members %}
        <div class="tab-pane pt-4 active" id="members" role="tabpanel">
            {% if current_user_member %}
            <div class="my-4">
                {{ _('You are a member of this organization.') }}
                ({% for role in current_user_member.roles %}{{ role.name }}{%if not loop.last %}, {% endif %}{% endfor %})
            </div>
            {% endif %}

            {% if can_list_members %}
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>{{ _('Name') }}</th>
                            <th>{{ _('Roles') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in organization.members %}
                            <tr>
                                <td>{{ member.user.email }}</td>
                                <td>{% for role in member.roles %}{{ role.name }}{%if not loop.last %}, {% endif %}{% endfor %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div class="tab-pane pt-4{% if not current_user_member and not can_list_members %} active{% endif %}" id="events" role="tabpanel">
            {{ render_events(events) }}
        </div>
    </div>



{% endblock %}