{% extends "layout.html" %}
{% from "_macros.html" import render_string_prop, render_logo, render_phone_prop, render_fax_prop, render_email_prop, render_events, render_location_prop, render_link_prop, render_image %}
{% block title %}
{{ organizer.name }}
{% endblock %}
{% block content %}

    <h1>{{ organizer.name }}</h1>

    {% if can_update_organizer %}
    <div class="my-4">
        <a class="btn btn-primary my-1" href="{{ url_for('organizer_update', id=organizer.id) }}" role="button"><i class="fa fa-edit"></i> {{ _('Update organizer') }}</a>
    </div>
    {% endif %}


    <div class="my-4">
        {{ render_location_prop(organizer.location) }}
        {{ render_link_prop(organizer.url) }}
        {{ render_email_prop(organizer.email) }}
        {{ render_phone_prop(organizer.phone) }}
        {{ render_fax_prop(organizer.fax) }}
    </div>

    {% if organizer.logo_id %}
    <div class="my-4">{{ render_logo(organizer.logo_id) }}</div>
    {% endif %}

{% endblock %}