{% extends "layout.html" %}
{% from "_macros.html" import render_manage_menu, render_field_with_errors, render_field %}
{% block content %}

<h1>{{ admin_unit.name }}</h1>

{{ render_manage_menu(admin_unit, 'members') }}

<h2>{{ _('Update member') }}</h2>
<form action="" method="POST">
  {{ form.hidden_tag() }}

  <div class="card mb-4">
    <div class="card-header">
      {{ member.user.email }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.roles, ri="multicheckbox") }}
    </div>
  </div>

  {{ render_field(form.submit) }}
</form>

{% endblock %}
