{% extends "layout_vue.html" %}

{%- block title -%}
{{ _('Organization invitations') }}
{%- endblock -%}

{% block component_scripts %}
<script src="{{ url_for('static', filename='vue/user-organization-invitations/read.vue.js')}}"></script>
{% endblock %}

{% block component_definitions %}
Vue.component("UserOrganizationInvitationRead", UserOrganizationInvitationRead);
{% endblock %}

{% block vue_routes %}
const routes = [
  {
    path: "/user/organization-invitations/:organization_invitation_id",
    component: UserOrganizationInvitationRead,
  },
];
{% endblock %}
