{% extends "layout.html" %}
{% block title %}
{{ _('Admin') }}
{% endblock %}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">{{ _('Admin') }}</li>
    </ol>
</nav>

<div class="list-group">
    <a href="{{ url_for('admin_settings') }}" class="list-group-item">
        {{ _('Settings') }}
        <i class="fa fa-caret-right"></i>
    </a>
    <a href="{{ url_for('admin_admin_units') }}" class="list-group-item">
        {{ _('Admin Units') }}
        <i class="fa fa-caret-right"></i>
    </a>
</div>

{% endblock %}