{% extends "layout.html" %}
{% from "_macros.html" import render_field, render_field_with_errors %}
{%- block title -%}
{{ _('Settings') }}
{%- endblock -%}
{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('admin') }}">{{ _('Admin') }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ _('Settings') }}</li>
    </ol>
</nav>

<form action="" method="POST">
    {{ form.hidden_tag() }}

    {{ render_field_with_errors(form.start_page) }}
    {{ render_field_with_errors(form.tos) }}
    {{ render_field_with_errors(form.legal_notice) }}
    {{ render_field_with_errors(form.contact) }}
    {{ render_field_with_errors(form.privacy) }}

    {{ render_field(form.submit) }}
</form>

{% endblock %}