{% extends "layout_manage.html" %}
{% set active_id = "events" %}
{% from "_macros.html" import render_event_dates_filter_form, render_event_status_pill, render_pagination, render_event_date, render_field_with_errors, render_event_organizer %}
{% block title %}
{{ _('Events') }}
{% endblock %}
{% block content %}

<h1>{{ _('Events') }} <button type="button" class="btn btn-outline-secondary mx-2" data-toggle="collapse" data-target="#search_form" aria-expanded="{% if form.is_submitted() %}true{% else %}false{% endif %}"><i class="fa fa-filter"></i></button></h1>

<div class="my-4">
    <a class="btn btn-outline-secondary my-1" href="{{ url_for('event_create_for_admin_unit_id', id=admin_unit.id) }}" role="button"><i class="fa fa-plus"></i> {{ _('Create event') }}</a>
</div>

<div class="my-4 {% if form.is_submitted() %}{% else %}collapse{% endif %}" id="search_form">
    {{ render_event_dates_filter_form(form) }}
</div>

<ul class="list-group">
{% for event in events %}
    <li class="list-group-item">
        {{ render_event_date(event) }}
        <div class="dropdown d-inline-block">
            <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ event.name }}</button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('event', event_id=event.id) }}">{{ _('View') }}</a>
                <a class="dropdown-item" href="{{ url_for('event_update', event_id=event.id) }}">{{ _('Edit') }}</a>
                <a class="dropdown-item" href="{{ url_for('event_delete', event_id=event.id) }}">{{ _('Delete') }}...</a>
            </div>
        </div>
        {{ render_event_status_pill(event) }}
        <small>{{ event.organizer.name }}</small>
    </li>
{% endfor %}
</ul>

<div class="my-4">{{ render_pagination(pagination) }}</div>

{% endblock %}