{% extends "layout.html" %}
{% from "_macros.html" import render_widget_styles, render_logo, render_cropper_code, render_crop_image_form, render_jquery_steps_header, render_cropper_header, render_base_image_form, render_radio_buttons, render_datepicker_js, render_field_with_errors, render_field %}
{% block title %}
{{ _('Create event suggestion') }}
{% endblock %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery-steps.css')}}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='widget.css')}}" />
{{ render_widget_styles(styles) }}
{% endblock %}
{% block navbar %}
{% endblock %}
{% block header_before_site_js %}
{{ render_jquery_steps_header() }}
{{ render_cropper_header() }}
<script>

  function update_preview(form) {
    var name = form.find('input[name=name]').val();
    var place = form.find('select[name=event_place_id] > option:selected').text();
    var organizer = form.find('select[name=organizer_id] > option:selected').text();
    var external_link = form.find('input[name=external_link]').val();
    var description = form.find('textarea[name=description]').val();
    var image_data_url = $('#photo_preview').attr("src");

    var start = '';
    var date_str = form.find('#start').val();
    var hour_str = form.find('#start-hour').val();
    var minute_str = form.find('#start-minute').val();

    if (date_str) {
      start = moment(date_str).set({"hour": hour_str, "minute": minute_str});
    }

    var image_tag = '';

    if (image_data_url) {
      image_tag = '<img src="' + image_data_url + '" class="mb-2 rounded" style="object-fit: cover; height: 20vh;" />';
    }

    var content = image_tag + '<div class="text-highlight text-uppercase font-weight-bold">' + start.format("dddd, LL [um] LT") + '</div>' +
    '<div class="font-weight-bold" style="font-size: 1.8rem;">' + name + '</div>' +
    '<div class="text-muted">' + place + '</div>' +
    '<div class="mt-3"><i class="fa fa-fw fa-sitemap"></i> ' + organizer + '</div>';

    if (external_link) {
      content += '<div><i class="fa fa-fw fa-link"></i> <a href="' + external_link + '" target="_blank">' + external_link + '</a></div>';
    }

    if (description) {
      content += '<div class="my-2">' + description.truncate(100) + '</div>';
    }

    var container = $("#preview_container");
    container.empty();
    container.append(content);
  }

  $( function() {
    var form = $("#wizard-form");
    var wizard = $("#wizard");

    form.validate({
        errorElement: 'div',
        errorClass: 'invalid-feedback',
        errorPlacement: function (error, element) {
            element.closest('.input-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        },
        rules: {
          contact_email: {
            require_from_group: [1, ".contact_method_group"]
          },
          contact_phone: {
            require_from_group: [1, ".contact_method_group"]
          }
        }
    });

    wizard.steps({
      headerTag: "h4",
      bodyTag: "section",
      transitionEffect: "fade",
      enablePagination: false,
      onStepChanging: function (event, currentIndex, newIndex) {
          // Allways allow previous action even if the current form is not valid!
          if (currentIndex > newIndex) {
              return true;
          }

          //form.validate().settings.ignore = ":disabled,:hidden:not(.datepicker)";
          form.validate().settings.ignore = ":disabled,:hidden";
          var is_valid = form.valid();

          if (is_valid && (newIndex == 6)) {
            update_preview(form);
          }

          return is_valid;
      }
    });

    $('.wizard-next').click(function(){
      wizard.steps('next');
    });

    $('.wizard-prev').click(function(){
      wizard.steps('previous');
    });

    {{ render_cropper_code() }}

  });
</script>
{% endblock %}
{% block content %}
<div class="w-normal">

  <h1>{{ _('Create event suggestion') }}</h1>

  <form id="wizard-form" action="" method="POST" enctype="multipart/form-data">
    <div id="wizard">
    {{ form.hidden_tag() }}

    <h4></h4>
    <section>
      <div class="card mb-4">
        <div class="card-body">
          {% if admin_unit.logo_id %}
            <div class="mb-4 text-center"><img src="{{ url_for('image', id=admin_unit.logo_id) }}" class="img-fluid" style="max-height:10vmin;" /></div>
          {% endif %}
          <p class="card-text">
            Hier kannst du als Gast eine Veranstaltung vorschlagen, die anschließend durch <strong>{{ admin_unit.name }}</strong> geprüft wird.
            Für mehr Optionen und einen eigenen Veranstaltungskalender, kannst du dich <a href="{{ url_for('security.register') }}">kostenlos registrieren</a>.
          </p>
          <div class="text-center">
            <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Continue as guest') }}</a>
          </div>
        </div>
      </div>
    </section>

    <h4></h4>
    <section>
      <div class="card mb-4">
        <div class="card-header">
          Nutzungsbedingungen
        </div>
        <div class="card-body">
          <p class="card-text">
            Die offene Veranstaltungsdatenbank stellt allen Nutzern Daten sowohl für private als auch kommerzielle Zwecke frei nutzbar zur Verfügung.
          </p>
          {{ render_field_with_errors(form.accept_tos, ri="checkbox") }}
          <div class="d-flex justify-content-between">
            <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
            <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Next') }}</a>
          </div>
        </div>
      </div>
    </section>

    <h4></h4>
    <section>
    <div class="card mb-4">
      <div class="card-header">
        {{ _('Contact') }}
      </div>
      <div class="card-body">
        <p class="card-text">
          <i class="fa fa-lock"></i> Deine Kontaktdaten werden für etwaige Rückfragen bei der Prüfung durch <strong>{{ admin_unit.name }}</strong> verwendet.
          Die Daten sind nur für die Prüfer:innen sichtbar und werden nicht öffentlich angezeigt.
        </p>

        {{ render_field_with_errors(form.contact_name) }}
        {{ render_field_with_errors(form.contact_email, class="contact_method_group") }}
        {{ render_field_with_errors(form.contact_phone, class="contact_method_group") }}
        {{ render_field_with_errors(form.contact_email_notice, ri="checkbox") }}

        <div class="d-flex justify-content-between">
          <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
          <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Next') }}</a>
        </div>
      </div>
    </div>
  </section>

  <h4></h4>
  <section>
    <div class="card mb-4">
      <div class="card-header">
        {{ _('Event') }}
      </div>
      <div class="card-body">
        {{ render_field_with_errors(form.name) }}
        {{ render_field_with_errors(form.start) }}
        {{ render_field_with_errors(form.event_place_id, class="autocomplete-tags w-100") }}
        {{ render_field_with_errors(form.organizer_id, class="autocomplete-tags w-100") }}

        <div class="d-flex justify-content-between">
          <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
          <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Next') }}</a>
        </div>
      </div>
    </div>
  </section>

  <h4></h4>
  <section>
    <div class="card mb-4">
      <div class="card-header">
        {{ _('Photo') }}
      </div>
      <div class="card-body">
        {% if form.photo.description %}
        <p class="card-text">
          {{ form.photo.description }}
        </p>
        {% endif %}

        {{ render_crop_image_form(form.photo) }}

        <div class="d-flex justify-content-between mt-3">
          <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
          <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Next') }}</a>
        </div>
      </div>
    </div>
  </section>

  <h4></h4>
  <section>
    <div class="card mb-4">
      <div class="card-header">
        {{ _('Optional details') }}
      </div>
      <div class="card-body">
        {{ render_field_with_errors(form.description) }}
        {{ render_field_with_errors(form.external_link) }}

        <div class="d-flex justify-content-between">
          <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
          <a class="btn btn-primary my-1 wizard-next" href="#" role="button">{{ _('Next') }}</a>
        </div>
      </div>
    </div>
  </section>

  <h4></h4>
  <section>
    <div class="card mb-4">
      <div class="card-header">
        {{ _('Preview') }}
      </div>
      <div class="card-body">
        <p class="card-text">
          Bitte prüfe deine Eingaben in der Vorschau. Wenn alles passt, klicke auf den Button <span class="d-inline-block">&quot;{{ form.submit.label() }}&quot;.
        </p>
        <div class="card mb-4 shadow">
          <div id="preview_container" class="card-body"></div>
        </div>
        <div class="d-flex flex-wrap justify-content-between align-items-baseline mt-3">
          <a class="btn btn-secondary my-1 wizard-prev" href="#" role="button">{{ _('Previous') }}</a>
          {{ render_field(form.submit) }}
        </div>
      </div>
    </div>
  </section>

    </div>
  </form>

</div>
{% endblock %}
