{% extends "layout.html" %}
{% from "_macros.html" import render_base_image_form, render_google_place_autocomplete_header, render_google_place_autocomplete_field, render_field_with_errors, render_field %}

{% block header %}
{{ render_google_place_autocomplete_header() }}
{% endblock %}

{% block content %}

<h1>{{ _('Update place') }}</h1>
<form action="" method="POST" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div class="my-5">
    {{ render_google_place_autocomplete_field() }}
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Place') }}
    </div>
    <div class="card-body">
      {{ render_field_with_errors(form.name) }}
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Location') }}
    </div>
    <div class="card-body">
      {{ form.location.hidden_tag() }}
      {{ render_field_with_errors(form.location.street) }}
      {{ render_field_with_errors(form.location.postalCode) }}
      {{ render_field_with_errors(form.location.city) }}
      {{ render_field_with_errors(form.location.state) }}
      {{ render_field_with_errors(form.location.latitude) }}
      {{ render_field_with_errors(form.location.longitude) }}
    </div>
  </div>

  {{ render_base_image_form(form.photo) }}

  <div class="card mb-4">
    <div class="card-header">
      {{ _('Additional information') }}
    </div>
    <div class="card-body">
    {{ render_field_with_errors(form.url) }}
    {{ render_field_with_errors(form.description) }}
    </div>
  </div>

  {{ render_field(form.submit) }}
</form>

{% endblock %}
