name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: jamescurtin/isort-action@master
      - uses: psf/black@stable
      - uses: TrueBrain/actions-flake8@v1.4.1