name: Lint

on: [pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
      - uses: jamescurtin/isort-action@master
        with:
          isort-version: "5.12.0"
      - uses: psf/black@stable
        with:
          version: "24.3.0"
      - uses: TrueBrain/actions-flake8@v2.4
        with:
          flake8_version: "6.1.0"

