# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run.
on: [push, pull_request, workflow_dispatch]

jobs:
  # Label of the container job
  container-job:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    container: python:3.7-slim-buster

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: mdillon/postgis
        # Provide the password for postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: gsevpt_tests
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest --cov=project
        env:
          TEST_DATABASE_URL: postgresql://postgres:postgres@postgres/gsevpt_tests

      - name: Codecov
        if: ${{ success() }}
        uses: codecov/codecov-action@v1
        with:
          verbose: true
